<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="172.16.3.3" />
  <arg name="load_gripper" default="true" />
  <arg name="mobile_base" default="true"/>

  <param name="robot_description" command="xacro  '$(find husky_panda_description)/urdf/husky_panda.urdf.xacro'
                                           mobile_base:=$(arg mobile_base)"/>
  <!-- The semantic description that corresponds to the URDF -->
  <group if="$(arg mobile_base)">
    <param name="robot_description_semantic" textfile="$(find husky_panda_moveit_config)/config/husky_panda.srdf" />
  </group>
  <group unless="$(arg mobile_base)">
    <param name="robot_description_semantic" textfile="$(find husky_panda_moveit_config)/config/panda.srdf" />
  </group>

  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
    <arg name="load_robot_description" value="false"/>
  </include>

  <rosparam command="load" file="$(find mpcc_franka)/config/mpcc_franka.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="mpcc_controller"/>
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find mpcc_franka)/config/rviz.rviz"/>

</launch>
